<!-- post.handlebars -->
<main class="thoughts">
  <div class="thought">
    <h2>{{thought.title}}</h2>
    <p>{{thought.text}}</p><br>
    <p>Added By: {{thought.user.username}}</p>
    <p>Created On: {{thought.createdAt}}</p>

    <!-- Display comments for the current thought -->
    <div class="comments">
      <h3>Comments:</h3>
      <ul>
        {{#each thought.comments}}
          <li>
            <p>{{this.comment}}</p>
            <p>Added By: {{this.username}}</p>
            <p>On: {{this.updatedAt}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</main>

<form id="commentForm">
  <input name="comment" type="text" placeholder="Add a comment">
  <button type="button" onclick="submitForm()">Submit</button>
</form>

<div id="fetchedDataContainer">
  <!-- Fetched Data will be inserted here -->
</div>


<script>
  function submitForm() {
  const thoughtId = "{{thought.id}}";
  const commentInput = document.querySelector('[name="comment"]');
  const commentText = document.querySelector('[name="comment"]').value;

  fetch(`/thought/${thoughtId}`, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ comment: commentText })
  })
  .then(response => response.json())
  .then(data => {
    // Update the list of comments in the DOM
    const commentsContainer = document.querySelector('.comments');
    const newCommentElement = document.createElement('li');
    newCommentElement.innerHTML = `
      <p>${data.comment}</p>
      <p>Added By: ${data.username}</p>
      <p>On: ${data.updatedAt}</p>
    `;
    commentsContainer.querySelector('ul').appendChild(newCommentElement);

    // Empty the comment input box
    commentInput.value = '';
  })
  .catch(error => {
    console.error('Error:', error);
  });
}



  // Prevent default form submission
  document.getElementById('commentForm').addEventListener('submit', function(event) {
    event.preventDefault();
  });
</script>

